@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function em-sm($pixels, $context: $browser-context-sm) {
  @return #{$pixels/$context}em;
}

@mixin display {
  min-height: 100vh;
  width: 100%;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin reset-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin font_face($file_name, $font_name, $path, $weight) {
  @font-face {
      font-family: $font_name;
      src: url($path + $file-name + ".woff") format("woff");
      font-weight: $weight;
      font-style: normal;
  }
}

@include font_face('Inter-Regular', 'Inter', './../../assets/fonts/', 400);
@include font_face('Inter-SemiBold', 'Inter', './../../assets/fonts/', 600);