.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: em(17) 0;
  border-radius: em(12);
  background-color: $primary-color;
  max-width: em(296);
  color: $white-color;
  font-weight: 600;
  font-size: inherit;

  &:hover {
    background-color: $link-hover-color;
  }

  &:active {
    background-color: $link-active-color;
  }
}